.channel-stats-container{
    display: flex;
    flex-direction: column;
    background-color: black;
    position: relative;
    align-items: center;
    width: 100%;
    height:25rem;
    z-index: 1;
}
.channel-stats-title{
    display: flex;
    position: relative;
    color: red;
    font-size: 3rem;
    padding: 3rem;
    margin-top: -2rem;
    align-self: center;
    z-index: 2;
}
.stats-container{
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: 15rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: -2rem;
    position: relative;
    align-items: center;
    z-index: 2;
}
.stats-card{
    display: flex;
    align-items: center;
    flex-direction: column;

    margin-left: 3rem;
    margin-right: 3rem;

}
.stats-value{
    align-self: center;
    position: relative;
    font-size: 3.5rem;
    color: white;
    font-weight: bold;
    padding: 0.5rem;
}
.stats-value:hover{
   color: red;
   transition: 0.2sec;
}
.stats-title{
    align-self: center;
    position: relative;
    font-size: 2.75rem;
    color: red;
    font-weight: bold;
}
.stats-title:hover{
    color: white;
    transition: 0.2sec;
}
@media screen and (max-width: 1000px) {
    .channel-stats-container{
        display: flex;
        flex-direction: column;
        background-color: black;
        position: relative;
        align-items: center;
        width: 100%;
        height:40rem;
        z-index: 1;
    }
    .channel-stats-title{
        display: flex;
        position: relative;
        align-self: center;
        color: red;
        font-size: 2rem;
        width: 15rem;
        left: 2.5rem;
        z-index: 2;
    }
    .stats-container{
        display: flex;
        flex-direction: column;
        width: fit-content;
        height: 15rem;
        margin-left: 5rem;
        margin-right: 5rem;
        margin-top: -2rem;
        position: relative;
        align-items: center;
        z-index: 2;
    }
    .stats-card{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-left: 3rem;
        margin-right: 3rem;
        margin-top: 1rem;
    }
    .stats-value{
        align-self: center;
        position: relative;
        font-size: 2.5rem;
        color: white;
        font-weight: bold;
        padding: 0.5rem;
    }
    .stats-title{
        align-self: center;
        position: relative;
        font-size: 1.75rem;
        color: red;
        font-weight: bold;
    }
}